<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>OneMotion demo</title>
<style>
body {
  margin: 0px;
  pading: 0px;
  font-family: sans-serif;
}

.content {
  padding: 10px;
}

.sample1 {
  display: inline-block;
  position: relative;
  color: white;
  background-color: blue;
  padding: 0px 5px;
  cursor: pointer;
}
</style>
</head>
<body>
<section class="content">
<h1 class="content__title"><%= name %></h1>
<h2 class="content__subtitle"><%= description %></h2>
<p>This is "OneMotion" demo page.</p>
<p></p>
<p>The <span class="sample1">sample1</span> is sample for reflect motion.</p>
<hr/>
<p>Please visit the project page also.</p>
<p><a href="http://github.com/fnobi/OneMotion">http://github.com/fnobi/OneMotion</a></p>
<p>Enjoy!</p>
<!-- /.content --></section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../OneMotion.js"></script>
<script>
<% include ../../js/OneMotion_demo.js %>
</script>
</body>
</html>
