<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>OneMotion demo</title>
<style>
body {
  font-family: sans-serif;
}

.sample {
  display: inline-block;
  position: relative;
  padding: 10px;
  color: white;
  background-color: blue;
}
</style>
</head>
<body>
<div class="sample">sample</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../OneMotion.js"></script>
<script>
<% include ../../js/OneMotion_demo.js %>
</script>
</body>
</html>
